<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  
</head>

<body>
 <div class="login">
	<h1>Employee Performance Analysis</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	<input type="text" name="EmpLastSalaryHikePercent" placeholder="EmpLastSalaryHikePercent" required="required" />
        <input type="text" name="EmpEnvironmentSatisfaction" placeholder="EmpEnvironmentSatisfaction" required="required" />
	<input type="text" name="YearsSinceLastPromotion" placeholder="YearsSinceLastPromotion" required="required" />
	<input type="text" name="EmpDepartment" placeholder="EmpDepartment" required="required" />
	<input type="text" name="ExperienceYearsInCurrentRole" placeholder="ExperienceYearsInCurrentRole" required="required" />
	<input type="text" name="EmpWorkLifeBalance" placeholder="EmpWorkLifeBalance" required="required" />
	<input type="text" name="YearsWithCurrManager" placeholder="YearsWithCurrManager" required="required" />
	<input type="text" name="EmpJobRole" placeholder="EmpJobRole" required="required" />
	<input type="text" name="ExperienceYearsAtThisCompany" placeholder="ExperienceYearsAtThisCompany" required="required" />

        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>


</body>
</html>
